<style>
    body {
      color: #999;
      background: #fafafa;
      font-family: 'Roboto', sans-serif;
    }
    .form-control {
      min-height: 41px;
      box-shadow: none;
      border-color: #e6e6e6;
    }
    .form-control:focus {
      border-color: #00c1c0;
    }
    .form-control, .btn {        
      border-radius: 3px;
    }
    .signup-form {
      width: 425px;
      margin: 0 auto;
      padding: 30px 0;
    }
    .signup-form h2 {
      color: #333;
      font-weight: bold;
      margin: 0 0 25px;
    }
    .signup-form form {
      margin-bottom: 15px;
      background: #fff;
      border: 1px solid #f4f4f4;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 40px 50px;
    }
    .signup-form .form-group {
      margin-bottom: 20px;
    }
    .signup-form label {
      font-weight: normal;
      font-size: 14px;
    }
    .signup-form input[type="checkbox"] {
      position: relative;
      top: 1px;
    }    
    .signup-form .btn, .signup-form .btn:active {        
      font-size: 16px;
      font-weight: bold;
      background: #00c1c0 !important;
      border: none;
      min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
      background: #00b3b3 !important;
    }
    .signup-form a {
      color: #00c1c0;
      text-decoration: none;
    }	
    .signup-form a:hover {
      text-decoration: underline;
    }
  .icons{
    display: flex;
    justify-content: space-evenly; /* Horizontal centering */
  }
</style>

    <body>
    <div class="signup-form">
        <form action="/new-password/<%=id%>" method="post">
        <h2>Enter new Password</h2>
            <div class="form-group">
              <input id="password1" type="password" class="form-control" name="password1" placeholder="Enter your password" required="required">
            </div>
            <div class="form-group">
                <input id="password2" type="password" class="form-control" name="password2" placeholder="Re-enter your password" required="required">
              </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" onclick="validate()">RESET</button><br>
            </div>
        </form>
    </div>

<script>
  function validate(){
    const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
    let pass1 = document.getElementById('password1').value
    let pass2 = document.getElementById('password2').value
    if(passwordRegex.test(pass1)){
        if(pass1 != pass2){
            document.getElementById('password2').style.borderColor = 'red';
            event.preventDefault()
        }else{
          document.getElementById('password2').style.borderColor = 'gray';
        }
    }else{
        document.getElementById('password1').style.borderColor = 'red'
          event.preventDefault()
    }
  }
</script>